/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @import "~@fortawesome/fontawesome-free/css/all.css";
*/
body {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
}
