div.header div.series-data {
  margin: 10px;
  font-family: monospace;
}

.series-button {
  padding: 3px;
  margin: 3px;
  border-radius: 3px;
}

.series-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
